.nav-enlace{
    display: inline-block;
    background: #000;
    color: aqua;
    padding: 15px 25px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rgb(255, 255, 255);
}
.nav-enlace:active{
    background: none;
}
nav{
    background: rgb(53, 36, 116);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
button{
    background: rgb(255, 0, 212);
    border: 3px double rgb(248, 244, 0);
    display: none;
}
p{
    margin: 10px;
    padding: 20px;
    display:grid;
    justify-items: center;
}
.columna1{
    background: rgb(38, 68, 41);
    color: rgb(78, 195, 211);
}
.columna2{
    background: rgb(114, 96, 45);
    color: rgb(0, 0, 0);
}.columna3{
    background: rgb(0, 0, 0);
    color: rgb(4, 0, 255);
}.columna4{
    background: rgb(172, 32, 130);
    color: rgb(117, 63, 31);
}
.padre{
    display: flex;
    justify-content: space-around;
}
img{
    width: 100px;
}
body{
    background-repeat:round;
}
.titulo{
    background: rgb(38, 68, 41);
    color: rgb(78, 195, 211);
}
button:hover{
    background: rgb(0, 255, 55);
    border: 2px double rgb(255, 7, 7);
}
button:active{
    background: none;
}
@media (max-width: 600px) {
    nav{
        background: rgb(38, 92, 136);
        flex-direction: column;
    }
    .nav-enlace{
        margin: 18px 2px;
    }
    button{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}